In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv("adult.csv")

In [3]:
data_frame.education.value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

In [4]:
data_frame.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [5]:
data_frame.workclass.value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [8]:
data_frame = pd.concat([data_frame.drop("occupation", axis=1), pd.get_dummies(data_frame.occupation).add_prefix("occupation_")], axis=1)

In [9]:
data_frame

,age,workclass,fnlwgt,education,educational-num,marital-status,relationship,race,gender,capital-gain,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,25,Private,226802,11th,7,Never-married,Own-child,Black,Male,0,...,False,False,True,False,False,False,False,False,False,False
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,...,True,False,False,False,False,False,False,False,False,False
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Husband,White,Male,0,...,False,False,False,False,False,False,True,False,False,False
3,44,Private,160323,Some-college,10,Married-civ-spouse,Husband,Black,Male,7688,...,False,False,True,False,False,False,False,False,False,False
4,18,?,103497,Some-college,10,Never-married,Own-child,White,Female,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Wife,White,Female,0,...,False,False,False,False,False,False,False,False,True,False
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,...,False,False,True,False,False,False,False,False,False,False
48839,58,Private,151910,HS-grad,9,Widowed,Unmarried,White,Female,0,...,False,False,False,False,False,False,False,False,False,False
48840,22,Private,201490,HS-grad,9,Never-married,Own-child,White,Male,0,...,False,False,False,False,False,False,False,False,False,False
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Wife,White,Female,15024,...,False,False,False,False,False,False,False,False,False,False